@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');



* {
    margin: 0px;
    padding: 0px;

}


.centr {
    padding-left: $centrSite;
    padding-right: $centrSite;

}


.header {
    padding-top: 25px;
    padding-bottom: 42px;
    @include dispF(space-between, center);

    &_left {
        @include dispF(normal, center);
        gap: 13px;

        &_brandName {
            @include text (27px, 32px, 300, #222222, uppercase);

            &_D {
                @include text (27px, 32px, 900, #f16d7f, uppercase);
            }
        }

        &_browseAndSearch {
            height: 38px;
            margin-left: 25px;
            @include dispF(normal, normal);
            margin-top: 7px;
            margin-bottom: 6px;

            &_button {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 15px;
                padding-right: 9px;
                border-radius: 3px 0px 0px 3px;
                border: 1px solid #e6e6e6;
                background-color: #cdcdcc;
                background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);

                &_text {
                    @include text (14px, 0px, 300, #222222, none);
                }

                &_img {
                    padding-left: 8px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-right: 0px;
                }
            }

            &_entryField {

                padding-left: 16px;
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-left: 0px;
                width: 280px;
                @include text (14px, 0px, 300, #a4a4a4, none);

            }

            &_buttonSearch {
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 0px 3px 3px 0px;
                border-left: 0px;
                padding: 0px 11px;

            }
        }
    }

    &_right {
        @include dispF(space-between, center);
        gap: 26px;
        margin-top: 6px;
        margin-bottom: 7px;

        &_basket {
            margin-top: 6px;
        }

        &_personalArea {
            &_button {
                position: relative;
                width: 130px;
                height: 38px;
                background-color: #f16d7f;
                border-width: 0px;
                @include dispF(flex-end, center);

                &_text {
                    @include text (15px, 32px, 400, #ffffff, none);
                }

                &_img {
                    margin: 16px 12px;
                    margin-left: 8px;
                }

            }

        }

    }
}

.testDiv,
.header_right_personalArea_inbutton {
    display: none;
}

.header_right_personalArea_inbutton:checked~.testDiv {
    display: block;
}

.testDiv {
    position: absolute;
    top: $padingToptest;
    width: 263px;
    height: 458px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ececec;

    &_pricebutton {
        display: block;

        &_price {
            margin-left: 17px;
            margin-right: 15px;
            margin-top: 19px;
            display: flex;
            justify-content: space-between;
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &_button1 {
            width: 225px;
            height: 50px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
            margin: 32px 19px 11px 18px;
            transition: all 0.3s;
        }

        &_button2 {
            width: 225px;
            height: 50px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
            margin: 0px 19px 20px 18px;
            transition: all 0.3s;
        }

    }

    &_card {
        display: flex;
        margin-top: 21px;
        margin-left: 17px;
        margin-right: 15px;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 16px;
        align-items: center;
        justify-content: space-between;

        &_cross {
            margin-left: 55px;
        }

        &_nameQuantity {
            margin-left: 14px;
            display: flex;
            gap: 11px;
            flex-direction: column;

            &_name {
                font-family: Lato;
                font-size: 12px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: uppercase;
                color: #222222;
            }

            &_quantity {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                color: #f16d7f;

                &_x {
                    font-size: 10px;
                }
            }
        }
    }
}

.testDiv_card_cross:hover path {
    transition: all 0.3s;
    fill: #f16d7f;
}

.testDiv_pricebutton_button1:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    transition: 0.3;
}

.testDiv_pricebutton_button2:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.testDiv2,
.header_left_browseAndSearch_inbutton {
    display: none;
}

.header_left_browseAndSearch_inbutton:checked~.testDiv2 {
    display: block;
}

.testDiv2 {
    position: absolute;
    top: $padingToptest + 1px;
    width: 234px;
    height: 489px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ececec;
    z-index: 10;
    padding: 19px 15px 22px 13px;

    &_card {
        display: flex;
        flex-direction: column;

        &_h5 {
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
            padding-bottom: 10px;
            border-bottom: 1px solid #ececec;
            margin-bottom: 16px;
        }

        &_a {
            font-family: Lato;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;
            text-decoration: none;
        }
    }
}

.testDiv2_card_last {
    margin-top: 30px;
}

.categoriesTop {
    padding-left: $padingcategoriesTop;
    padding-right: $padingcategoriesTop;
    @include dispF(space-between, center);


    &_hover {
        padding: 21px 19px;
        width: 806px;
        height: 310px;
        border-radius: 5px;
        position: absolute;
        top: 28px;
        display: none;
        background-color: #ffffff;
        border: 1px solid #ececec;
        left: -10px;
        flex-direction: column;
        flex-wrap: wrap;

        &_card {
            width: 235px;
            margin-right: 46px;
            display: flex;
            flex-direction: column;


            &_h5 {
                padding-bottom: 8px;
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #232323;
                border-bottom: 1px solid #e8e8e8;
                margin-bottom: 16px;
            }

            &_a {
                font-family: Lato;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #646464;
                text-decoration: none;
            }

            &_imgtext {
                margin-top: 22px;
                width: 255px;
                height: 118px;
                background-image: url(./img/hover_img.png);
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-end;
                max-width: 100%;

                &_h1 {
                    font-family: Lato;
                    font-size: 22px;
                    line-height: 28px;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    color: #ffffff;

                }
            }
        }

    }

    &_triangle {
        background-color: #ffffff;
        display: none;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 15px;
        left: calc($padingcategoriesTop + 16px);
        z-index: 3;
        transform: rotate(45deg);
        border: 1px solid #ececec;
        border-right: none;
        border-bottom: none;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.card_last {
    margin-right: 0px;

}

.card_middle {
    margin-top: 30px;
}

.categoriesTop_item {
    position: relative;
    padding-bottom: 22px;
}

.last {
    right: 0;
    left: auto;
}

.categoriesTop_item:hover .categoriesTop_triangle {
    display: block;
}

.categoriesTop_item:hover .categoriesTop_hover {
    display: flex;
}

.styleTextTop {
    margin-top: 19px;
    margin-bottom: 22px;
    @include text (14px, 14px, 700, #222222, uppercase);
    text-decoration: none;
}



.newsletter {
    padding-top: 111px;
    padding-bottom: 156px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(./img/back_comment.png);
    // background: no-repeat;
    background-size: cover;

    &_back {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &_right {
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_h3 {
            font-family: Lato;
            font-size: 24px;

            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }

        &_h4 {
            margin-bottom: 35px;
            font-family: Lato;
            font-size: 14px;

            font-weight: 400;
            text-transform: none;
            letter-spacing: 0.025em;
            color: #222224;
        }

        &_input {
            display: flex;

            &_button {
                width: 104px;
                height: 46px;
                background-color: #f16d7f;
                border-radius: 0px 23px 23px 0px;
                border-width: 0px;
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #ffffff;
            }

            &_inputline {
                width: 306px;
                height: 46px;
                background-color: #e1e1e1;
                border-radius: 23px 0px 0px 23px;
                border-width: 0px;
                padding-left: 28px;
                opacity: 0.67;
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #222224;
            }

        }
    }

    &_left {
        display: flex;
        align-items: flex-start;
        gap: 28px;
        z-index: 3;

        &_text {
            width: 386px;
            margin-top: 12px;
            padding-right: 72px;

            &_comment {
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: 0.025em;
                color: #222224;
            }

            &_h5 {
                margin-top: 19px;
                font-family: Lato;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #f16d7f;
            }

            &_h6 {
                margin-bottom: 41px;
                font-family: Lato;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #222224;
            }

            &_slider {
                &_button {
                    width: 28px;
                    height: 4px;
                    background-color: #d6d6d6;
                    border-width: 0px;

                }
            }
        }
    }
}

.newsletter_left_text_slider_button:hover {
    background-color: #f16d7f;
}

.bottomNav {
    display: flex;
    margin-top: 109px;
    justify-content: space-between;
    padding-bottom: 89px;

    &_logoAndDescription {
        width: 427px;

        &_logo {
            display: flex;
            align-items: center;
            gap: 13px;
            margin-bottom: 29px;

            &_brandName {
                font-family: Lato;
                font-size: 27px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #3e3e40;

                &_D {
                    font-family: Lato;
                    font-size: 27px;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    color: #f16d7f;
                }
            }
        }

        &_discr1 {
            margin-bottom: 37px;
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }

        &_discr2 {
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }
    }

    &_card {
        display: flex;
        flex-direction: column;

        &_h4 {
            margin-bottom: 45px;
            font-family: Lato;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #f16d7f;
        }

        &_subsection {
            margin-bottom: 30px;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #898989;
            text-decoration: none;
        }
    }
}

.subsectionLast {
    margin-bottom: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;

    &_socialMedia {
        display: flex;
        gap: 8px;

        &_logo {
            display: flex;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;

            &:hover {
                background-color: #f16d7f;

            }

            &:hover path {
                fill: #f7f7f8;
            }
        }


    }

    &_signature {
        padding-top: 9px;
        padding-bottom: 8px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
    }
}